.carousel {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
}

.carousel-slide {
    display: flex;
    flex-direction: row;

}

img {
    width: 1700px;
    height: 1000px;
}

.icon {
    display: flex;
    position: absolute;
    margin-top: 25%;
    margin-left: 3%;
    z-index: 1;

}

.next {
    margin-left: 1500px;
}