.carousel {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
}

.carousel-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.carousel-slide {
    display: flex;
    flex-direction: row;

}


.icon {
    display: flex;
    position: absolute;
    margin-top: 20%;
    margin-left: 1%;
    z-index: 1;

}

.next {
    margin-left: 850px;
}